/* Estilos personalizados para los campos de entrada */
        .input-group {
            position: relative;
            margin-bottom: 1.5rem;
        }

        .input-field {
            border: none;
            border: 1px solid #fff;
            padding: 0.5rem 0.75rem;
            width: 100%;
            background: #fff;
            transition: border-color 0.3s;
            border-radius: 4px;
        }

        .input-field:focus {
            outline: none;
            border-color: #6F7A83;
        }

        .input-label {
            position: absolute;
            top: 0.75rem;
            left: 1rem;
            pointer-events: none;
            transition: 0.3s;
            color: #40464B;
        }

        .input-field:focus~.input-label,
        .input-field:not(:placeholder-shown)~.input-label {
            top: -1.25rem;
            left: 0;
            font-size: 0.75rem;
            color: #191E24;
        }
    